body {
    background: #181818;
    color: #eeeeee;
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    overflow: hidden;
}

.slides {
    display: grid;
    grid-auto-columns: 100vw; 
    grid-auto-flow: column;
    transition: margin-left 0.6s ease-out;
}

.slides section {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    padding: 1rem;
}

.slides code {
    font-size: 1.25rem;
    padding: 1rem;
}

.slides h1 {
    font-size: 5rem;
    margin: 0;
}

.slides h2 {
    font-size: 3.5rem;
    margin: 0;
}

.slides p, .slides ul {
    margin: 1rem 0;
}

.slides li {
    margin-bottom: 0.5rem;
}

.slides a{
    color: #23a8dc;
}

.slide-previous, .slide-next {
    position: fixed;
    top: 50%;
    color: white;
    text-decoration: none;
    font-size: 4rem;
    opacity: 0.5;
    transition: opacity 0.3s;
}

.slide-previous:hover, .slide-next:hover {
    opacity: 1;
}

.slide-next{
    right: 1rem;
}

.slide-previous{
    left: 1rem;
}

.hide {
    display: none;
}